body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.form-box {
    position: relative;
    width: 450px;
    padding: 4rem;
    border-radius: 1rem;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}
.form-box .heading {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.form-box .form-item {
    margin-bottom: 2rem;
}
.form-box .form-item input {
    width: 100%;
    background-color: #f1f1f1;
    padding: 1.5rem 2.5rem;
    border-radius: 30px;
    color: #333;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    transition: box-shadow .3s;
}
.form-box .form-item input:focus {
    box-shadow: 0 0 0 .2rem #0037ff;
}
.form-box .form-item .form-msg {
    font-size: 1.4rem;
}
.form-item.invalid input {
    box-shadow: 0 0 .5rem red;
}
.form-item.invalid .form-msg {
    color: red;
}
.form-box .checkbox-forgot {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}
.form-box .checkbox-forgot label {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-box .checkbox-forgot input[type=checkbox] {
    width: 1.6rem;
    height: 1.6rem;
    accent-color: #0037ff;
    margin-right: 0.5rem;
}
.form-box .checkbox-forgot a,
.form-box .sign-link p a {
    color: #0037ff;
}
.form-box .checkbox-forgot a:hover,
.form-box .sign-link p a:hover {
    text-decoration: underline;
}
.form-box button {
    background-color: #0037ff;
    padding: 1.5rem 3rem;
    color: #fff;
    font-weight: 500;
    border-radius: 4rem;
    font-size: 1.8rem;
    cursor: pointer;
    margin: 2rem 0;
    transition: .3s;
}
.form-box button:active {
    scale: 0.95;
    background-color: draken(#0037ff, 10%);
}
.form-box .sign-link p {
    font-size: 1.4rem;
}